.container {
}
.arrow {
  color: red;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 15px;
  width: 12px;
}
.logo {
  margin-top: 20px;
}
.user1 {
  width: 64px;
  height: 64px;
  position: absolute;
}
.video {
  width: 170px;
  height: 172px;
  margin: 15px 0px 0px 5px;
  right: 20px;
}
.alarm {
  width: 66px;
  height: 66px;
}
